@import "animate";
@import "bootstrap";
@import "responsive";
@import "style";
@import "font-awesome";

a {
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.scroll-padding {
  padding-top: 150px;
}